#root {
  width: 100%;
  margin: 0%;
  padding: 0%;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Reset básico para manejar los márgenes y el padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el encabezado */
header {
  background-color: #333; /* Color de fondo del encabezado */
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 1rem;
  font-family:Garamond, serif;
}

.enlaces a {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  font-weight: bold;
}

header a {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  font-weight: bold;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  padding: 0%;
}

.preVista {
  display: flex;
  justify-content:space-between;
  margin: 2rem 0;
  margin-left: 5%;
  margin-right: 5%;
  height: 300px;
  width: 90%;
}

.preVista img{
  height: 300px;
}

.carrousel {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.carrousel-row {
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 100%;
  margin-bottom: 1rem; /* Espacio entre las filas */
}

/*
.carrousel .ImagenCoche {
  flex: 0 1 30%; 
  margin-bottom: 1rem;
}
*/
.coche{
  justify-content: center;
}

.carrousel a {
  border-radius: 10px; /* Bordes redondeados */ 
  overflow: hidden; /* Para que los bordes redondeados se apliquen a las imágenes */
}

.carrousel img {
  display: block; /* Evita que las imágenes tengan espacio extra debajo de ellas */
  width: auto; /* Mantiene la relación de aspecto de la imagen */
  height: 100%; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
}
/* Estilos para la sección de marcas */
.marcas {
  background-color: #444; /* Color de fondo para la sección de marcas */
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.marcas h2 {
  color: white;
  margin-bottom: 1rem;
}

.logos-marcas {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.logos-marcas img {
  height: 50px; /* Ajusta esto según el tamaño deseado para los logos */
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: left;
}

.contacto {
  margin-top: 1rem;
}

.Cochec {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #e05a5a; /*Cambiar color por pagina*/
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.Cochea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #6adcff; /*Cambiar color por pagina */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.Cochea img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  object-fit:fill; /* Asegura que la imagen cubra el área sin deformarse */
}

.Cochec img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  object-fit:fill; /* Asegura que la imagen cubra el área sin deformarse */
}
.cocheVista{
  height: 400px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3825253d;
  border-radius: 50px;
}
.CocheData {
  display: flex;
  flex-direction: center; /* Alinea los elementos internos en línea */
  align-items:center; /* Centra los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 10px; /* Añade un espacio entre los elementos */
}

.Coche h3, .Coche p {
  margin: 4px 0;
  color: #333;
  text-align: center;
}

.cochedata{
  display: flex;
  flex-direction:row;
}
.ImgCoche{
  height: 300px;
  margin: 20px;
}
.datos label{
  margin-right: 20px;
}
.datos .ActionButton{
  width: 40%;
  margin-left: 10px;
}